# This is a basic workflow to help you get started with Actions

name: Build / Deploy to Prod Env

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ release ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install npm packages
        run: yarn

      - name: Build docs
        run: yarn run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Copy files to the website with the AWS CLI
        run: |
          aws s3 sync --acl public-read ./build s3://${{ secrets.PROD_DOCS_S3_BUCKET_NAME }}

      - name: Invalidate Cloudfront Cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.PROD_DOCS_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
